{% extends 'base1.html' %}
{% block title %}Select Course for marks{% endblock title %}
{% block body %}
    <div class="container">
        <h1>Select Course</h1>
        <form method="POST">
            <div class="form-group">
                <label for="course_id">Select Course:</label>
                <select name="course_id" id="course_id" class="form-control" required>
                    <option value="">Select a course</option>
                    {% for course in courses %}
                    <option value="{{ course.C_id }}">{{ course.CourseName }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock body %}